<div class="list-group-item">
  <div class="row-action-primary">
    <%= link_to user_path(entry.user.id), class: 'link-gentle' do %>
      <%= image_tag entry.user.profile_image_url, class: 'img-rounded' %>
    <% end %>
  </div>
  <div class="row-content">
    <p class="list-group-item-text non-feedback">
      <%= Date.parse(entry.date).to_s %>
      <%= link_to entry.user.name, user_path(entry.user.id) %>
    </p>

    <%= link_to entry_path(entry.id), class: 'link-gentle' do %>
      <h4 class="list-group-item-heading link-gentle"><%= entry.text %></h4>

      <% if entry.image_url %>
        <div class="entry-list-image">
          <%= image_tag entry.image_url, class: 'img-responsive link-gentle' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="list-group-separator"></div>
