<div class="list-group-item">
  <%= link_to '#', class: 'link-gentle' do %>
    <div class="row-action-primary">
      <%= image_tag(entry.thumbnail_url, class: 'entry-list-thumbnail') %>
    </div>
    <div class="row-content">
      <h4 class="list-group-item-heading"><%= entry.text %></h4>
      <p class="list-group-item-text non-feedback">
        <%= Date.parse(entry.date).to_s %>
        <%= link_to entry.user.name, user_path(entry.user.id) %>
      </p>
    </div>
  <% end %>
</div>
<div class="list-group-separator"></div>
