<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date, value: @date.to_s %>
  </div>

  <%= image_tag(@instagram_media.images.thumbnail.url) %>
  <%= @instagram_media.caption.text if @instagram_media.caption %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :instagram_media_id, value: @instagram_media_id %>
  <%= f.hidden_field :image_url, value: @instagram_media.images.standard_resolution.url %>
  <%= f.hidden_field :text, value: @instagram_media.caption.text if @instagram_media.caption %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
