<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @entry.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @entry.image_url %>
</p>

<p>
  <strong>Thumbnail url:</strong>
  <%= @entry.thumbnail_url %>
</p>

<p>
  <strong>Media url:</strong>
  <%= @entry.media_url %>
</p>

<p>
  <strong>Instagram media:</strong>
  <%= @entry.instagram_media_id %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
