<div class="row">
  <div class="col-md-10 col-sm-10 col-xs-10 list-group user-info">
    <div class="list-group-item">
      <div class="row-action-primary">
        <%= image_tag @entry.user.profile_image_url, class: 'img-rounded' %>
      </div>
      <div class="row-content">
        <h4 class="list-group-item-heading">
          <%= link_to @entry.user.name, user_path(@entry.user) %>
        </h4>
        <p class="list-group-item-text">
          <%= Date.parse(@entry.date).to_s %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-2 col-sm-2 col-xs-2">
    <%= link_to('#', class: 'dropdown-toggle', data: {toggle:'dropdown'}) do %>
      <i class="mdi-navigation-more-vert pull-right menu-icon link-gentle"></i>
    <% end %>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to 'View in Instagram', @entry.media_url  %></li>
      <li><%= link_to 'Edit', edit_entry_path(@entry.id) %></li>
      <li><%= link_to 'Delete', entry_path(@entry.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>

  <p class="col-md-12 col-sm-12 col-xs-12 h4 entry-title"><%= @entry.text %></p>

  <%= image_tag @entry.image_url, class: 'img-responsive' %>
</div>
