<%= form_for(@instagram_user) do |f| %>
  <%= render partial: 'instagram/users/info', locals: {instagram_user: @instagram_user, editable: false} %>

  <%= f.hidden_field :user_id, value: @instagram_user.user_id %>
  <%= f.hidden_field :name, value: @instagram_user.name %>
  <%= f.hidden_field :instagram_user_id, value: @instagram_user.instagram_user_id %>
  <%= f.hidden_field :profile_image_url, value: @instagram_user.profile_image_url %>

  <div class="actions">
    <%= f.submit('OK', class: 'btn btn-primary') %>
  </div>
<% end %>
