<nav class="navbar navbar-fixed-top shadow-z-2 navbar-layer-tabs">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_tab?(:timeline) %>">
        <%= link_to 'Timeline', root_path, class: 'navbar-nav-tab' if signed_in? %>
      </li>
      <li class="<%= 'active' if current_tab?(:calendar) %>">
        <%= link_to 'Calendar', user_path(current_user.id), class: 'navbar-nav-tab' if signed_in? %>
      </li>
      <li class="<%= 'active' if current_tab?(:account) %>">
        <%= link_to 'Account', account_users_path, class: 'navbar-nav-tab' if signed_in? %>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-fixed-top navbar-layer-title">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to("diarygram", root_path, id: "logo", class: "navbar-brand") %>
      </li>
    </ul>
  </div>
</nav>
