<nav class="navbar navbar-fixed-top navbar-material-deep-orange-400 shadow-z-2 navbar-layer-tabs">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_tab?(:timeline) %>">
        <%= link_to 'Timeline', root_path, class: 'navbar-nav-tab' if signed_in? %>
      </li>
      <li class="<%= 'active' if current_tab?(:calendar) %>">
        <%= link_to 'Calendar', user_path(current_user.id), class: 'navbar-nav-tab' if signed_in? %>
      </li>
      <li class="<%= 'active' if current_tab?(:account) %>">
        <%= link_to 'Account', '#', class: 'navbar-nav-tab' if signed_in? %>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-fixed-top navbar-material-deep-orange-400 navbar-layer-title">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to("diarygram", root_path, id: "logo", class: "navbar-brand") %>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" >
      <% if(user_signed_in?) %>
        <li class="dropdown">
          <%= link_to('#', class:'dropdown-toggle', data:{toggle: 'dropdown'}) do %>
            <%= current_user.email %> <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li>
              <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
