<!DOCTYPE html>
<html>
<head>
  <title>diarygram</title>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" %>
  <%= stylesheet_link_tag    "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width">
  <%= render 'layouts/shim' %>
</head>
<body>

	<%= render 'layouts/header' %>
  <div class="container panel panel-default main-panel">
  	<div class="panel-body main-panel-body">
  		<%= yield %>
  		<%= render 'layouts/footer' %>
  	</div>
  </div>

  <%= javascript_tag do %>
    window.flashMessages = $.parseJSON('<%=j flash.to_hash.to_json.html_safe %>');
  <% end %>
</body>
</html>
